<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrentLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18AF3E0A1E519E7D00F14658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AF3E231E519E7D00F14658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AF3E2E1E519E7D00F14658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
